@model PaginationTagHelper.AspNetCore.Web.ViewModels.ProductViewModel

@{
    ViewData["Title"] = "Pagination Tag Helper";
}

<div class="row">
    <div class="col-lg-12">
        <div class="jumbotron text-center">
            <h2>Custom Pagination Tag Helper</h2>
            <p>ASP.NET Core 2.0 MVC | Bootstrap 3.3</p>
            <p>
                <a class="btn btn-default" asp-controller="Home" asp-action="Index" role="button">Data grid (full page reload)</a>
                <a class="btn btn-primary" asp-controller="Home" asp-action="AjaxGrid" role="button">Data grid (ajax partial update)</a>
            </p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="jumbotron">
            <form id="frmPageSize"
                  name="frmPageSize"
                  class="form-inline text-center"
                  style="margin-bottom:10px"
                  asp-controller="Home"
                  asp-action="AjaxPager"
                  data-ajax="true"
                  data-ajax-update="#pagedContent"
                  data-ajax-method="post">

                <input type="hidden" id="page" name="page" value="@Model.Products.CurrentPage" />

                <div class="form-group">
                    <label for="pageSize">Page size: </label>
                    <select name="pageSize" id="pageSize" class="form-control">
                        <option value="5" selected="@(Model.Products.PageSize == 5)">5</option>
                        <option value="10" selected="@(Model.Products.PageSize == 10)">10</option>
                        <option value="15" selected="@(Model.Products.PageSize == 15)">15</option>
                        <option value="20" selected="@(Model.Products.PageSize == 20)">20</option>
                    </select>
                </div>
            </form>

            <div id="pagedContent">
                @{Html.RenderPartial("_AjaxPagedListPartialView", Model);}
            </div>

        </div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>
    <script src="~/js/page-size-select.js"></script>
    <script>
        /* ------------------------------------ */
        /* Show the ajax loader                 */
        /* ------------------------------------ */
        function showAjaxLoader() {
            var table = document.querySelector('table');
            if (table) {
                table.classList.add('loading');
            }
            else {
                console.error('Error in displaying ajax loader.');
            }
        }

        /* ------------------------------------ */
        /* Hide the ajax loader                 */
        /* ------------------------------------ */
        function hideAjaxLoader() {
            var table = document.querySelector('table');
            if (table) {
                table.classList.remove('loading');
            }
            else {
                console.error('Error hiding ajax loader.');
            }
        }
    </script>
}


